
<div class="searchBox">
    <input (keyup)="searchMovies()" 
        [(ngModel)]="movieName" type="text" 
        id="searchKey" class="form-control"
        placeholder="Search Box" />
</div>

<table class="table table-striped">
    <tbody>
        <tr *ngFor="let movie of movies">
            <td><img [src]="movie.poster" onerror="this.src='assets/placeholder.png';" height="300px" width="180px"></td>
            <td><a routerLink='../movie-details/{{movie.imdbID}}'>{{movie.title}}</a></td>
        </tr>
    </tbody>
</table>
