<div class="input-group">
    <input [(ngModel)]="movieName" type="text" 
        id="searchKey" class="form-control"
        placeholder="Search Box" />

        <span class="input-group-btn">
            <button type="button"
            class="btn btn-primary"
            (click)="doSearch()">
                    Search
            </button>
        </span>


    <input [(ngModel)]="movieYear" type="number" min="1900" max="2099" step="1"
        id="searchKey" class="form-control"
        placeholder="Filter by year" />

        <span class="input-group-btn">
            <button type="button"
            class="btn btn-primary"
            (click)="filterMovies()">
                    Filter
            </button>
        </span>

        <span class="input-group-btn">
            <button type="button"
            class="btn btn-danger"
            (click)="clearFilters()">
                    Clear filters
            </button>
        </span>
    
</div>

<div >
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Poster</th>
                <th scope="col" sortable="title" (sort)="onSort($event)">Title</th>
                <th scope="col" sortable="year" (sort)="onSort($event)">Year</th>
        </thead>
        <tbody>
            <tr *ngFor="let movie of movies">
                <td><img [src]="movie.poster" onerror="this.src='assets/placeholder.png';" height="300px" width="180px"></td>
                <td><a routerLink='../movie-details/{{movie.imdbID}}'>{{movie.title}}</a></td>
                <td>{{movie.year}}</td>
                <td>{{movie.genre}}</td>
                <td>{{movie.imdbRating}}</td>
            </tr>
        </tbody>
    </table>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="/movie-search;movieName={{movieName}};page={{page - 1}}">Previous</a></li>
      <li class="page-item"><a class="page-link" href="/movie-search;movieName={{movieName}};page=1">1</a></li>
      <li class="page-item"><a class="page-link" href="/movie-search;movieName={{movieName}};page=2">2</a></li>
      <li class="page-item"><a class="page-link" href="/movie-search;movieName={{movieName}};page=3">3</a></li>
      <li class="page-item"><a class="page-link" href="/movie-search;movieName={{movieName}};page={{page*1 +1}}">Next</a></li>
    </ul>
  </nav>
